#footer{
    margin-top: 100px;
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-title);
}
#nav-footer #menu{
    display: grid;
    grid-template-columns: auto auto;
}
#waves{
    margin-top: 1.4em;
    position: absolute;
    width: 789px;
}
#footer #contatos-footer,
#footer #nav-footer,
#footer #social-footer{
    text-align: center;
}
#footer h2,
#footer h3,
#footer p{
    color: var(--color-title-main);
}
#social-div{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#social-div a{
    color: var(--color-title-main);
    border-radius: 50%;
}
#social-div i{
    transition: .4s;
    font-size: 1.8em;
    padding: 7px 8px;
}
.footer-link:hover i{
    transform: scale(120%);
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807 );
}

#github{
    background-color: #101414;
}

#discord{
    background-color: #5865f2;
}
