/* Configs Geral do main */
main{
    background-color: var(--color-fundo);
    max-width: 789px;
    margin: auto;
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    margin-bottom: 80px;
    box-shadow: 2px 4px 6px 2px var(--color-shadow);
}
main #home,
main #sobre,
main #projetos,
main #contato{
    padding: 0.4em;
}

/* Configs da aba Home */
#home{
    margin-top: 1em;
}
#home p{
    text-align: justify;
}
#home hr{
    width: 94%;
    margin: 3em auto;
    border: 1px solid var(--color-hr);
}
#iframe{
    background-color: black;
    
    padding: 10px;
    margin: 0px -20px 0px -20px; 
    
    position: relative;
    padding-top: 56.25%; /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
    pointer-events: none;
    box-shadow: 0px 3px 6px 3px var(--color-shadow);
}
div > iframe{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}
iframe{
    display: block;
    margin: auto;
}
#title-iframe{
    margin-top: 2em;
}
#link{
    color: var(--color-legendas);
    opacity: .6;
    text-decoration: none;
}
#link:hover{
    text-decoration: underline;
    opacity: 1;
}
#title-img{
    text-align: center;
    text-shadow: 3px 3px 5px var(--color-shadow);
}
#langs{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}
#langs a{
    background-color: var(--color-title);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    text-align: center;
    transition: .6s;
    box-shadow: 3px 3px 5px 3px var(--color-shadow);
}
#langs img{
    padding-top: 18px;
    width: 84px;
    filter: grayscale(100%);
    opacity: .8;
    transition: .6s;
}
#langs a:hover img{
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(120%);
}
#langs a:hover{
    background-color: var(--color-title-main);
    transform: scale(105%);
}
 

    /* Configs da aba Sobre */
#content-up{
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8em;
}
#content-up h2{
    color: var(--color-paragrafo);
    width: 7em;
}
#content-up span{
    color: var(--color-title);
}
#mask-foto{
    width: 220px;
    height: 220px;
    background-image: url(../imgs/background.png);
    overflow: hidden;
    border-radius: 50%;
}
#content-up img{
    width: 220px;
    padding-top: 10px;
    position: relative;   
}
#sobre-left a{
    text-decoration: none;
}
#cv button{
    font-size: .6em;
    margin-top: 1.4em;
    cursor: pointer;
    padding: .6em 1.8em;
    border-radius: 4em;
    border: none;
    transition: .4s;
}
#cv a{
    color: white;
    border: none;
}
#cv a:first-child button {
    color: var(--color-title-main);
    background-image: url(../imgs/background.png);
    background-position: center;
    background-size: 200%;
}

#cv a:last-child button {
    color: var(--color-paragrafo);
    border: 1px solid var(--color-title);
    background-color: var(--color-fundo);
}
#cv a:last-child button:hover {
    color: var(--color-title-main);
    background-image: url(../imgs/background.png);
    background-position: center;
    background-size: 200%;
    transform: scale(95%);
}
#cv a:first-child button:hover {
    transform: scale(95%);
}
#sobre-mim{
    margin-top: 3em;
    font-size: 1.2em;
    text-indent: .6em;
}
#sobre-mim p{
    padding: 0 1.2em 2em 1.2em;
    text-align: justify;
}
#sobre-mim h2{
    text-align: center;
}
#leque-tools-h2{
    margin-top: 2em;
}
#leque-tools{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    padding: 0 6em;
}
#leque-tools img{
    background-color: var(--color-title-main);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 3px var(--color-leque-swap);
}


/* Configs da aba Projetos */
#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-top: 1em;
}
#projetos h2,
#projetos p{
    text-align: center;
}
.content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#projetos-wrap .content img{
    width: 300px;
    border-radius: 14px;
}
#projetos-wrap{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
#projetos-wrap a{
    color: var(--color-title-main);
    text-decoration: none;
    transition: .8s;
    font-size: 0em;
}
#projetos-wrap .content p{
    color: var(--color-title-main);
    user-select: none;
}
#projetos-wrap .content div{
    background-image: url(../imgs/background.png);
    background-position: left;
    background-size: 400%;
    border-radius: 12px;
    box-shadow: 2px 6px 3px 3px var(--color-shadow);
    transition: .4s;
} 
#projetos-wrap .content div:hover{
    padding: 0.5em 1em;
    background-position: center;
} 
#projetos-wrap .content:hover a{
    font-size: 1em;
}
#projetos-wrap .content a:hover{
    text-decoration: underline; 
}


/* Configs da aba Contato */
#contato form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#side-esq div,
#side-dir div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#side-esq,
#side-dir{
    margin-top: 1em;
    margin-bottom: 2em;
}
#contato label{
    color: var(--color-title);
    font-family: var(--poppins);
    font-weight: bolder;
    font-size: 1.4em;
}
#contato input{
    height: 30px;
    width: 280px;
}
#msg{
    height: 120px;
    width: 320px;
    resize: none;
    border-radius: 10px;
    background-color: var(--color-title-main);
}
#contato button{
    background-color: var(--color-title);
    color: var(--color-title-main);
    border: none;
    width: 100px;
    height: 46px;
    transition: .4s ease-in-out;
    cursor: pointer;
}
#contato button:hover{
    transform: scale(88%);
    opacity: .8;
}
#msg,
#contato input{
    border: 1px solid var(--color-title);
    font-size: 1.2em;
    font-family: var(--roboto);
    padding: 2px;
    color: var(--color-shadow);
    background-color: var(--color-title-main);
    border-radius: 8px;
}
#contato input:focus,
#msg:focus{
    border: 3px solid var(--color-buttons);
    outline: none;
    color: var(--color-black);
}
