:root{
    --color-title-main: #FFF3FE;
    --color-title: #9A031E;
    --color-title-desaturado: #595959;
    --color-fundo: #0d0d0d;
    --color-paragrafo: #FFF3FE;
    --color-buttons: #720e21;
    --color-shadow: #0d0d0d90;
    --color-legendas: #3b382e;
}