:root{
    --color-title-main: #FFF3FE;
    --color-title: #9A031E;
    --color-title-desaturado: #7b3e3e;
    --color-fundo: #FFF3FE;
    --color-paragrafo: #1b1b1b;
    --color-buttons: #720e21;
    --color-shadow: #0d0d0d90;
    --color-legendas: #786F52;
}